<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$catename.catename}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/style.css">
<script language="JavaScript" src="__PUBLIC__/images/config.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/jquery-1.7.2.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/css.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/common.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/login.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/jquery-validate.js"></script>
</head>
<body>

{include file="common/header"/}

<div class="mid">
    <div class="left">
      <div class="lmune">
        <div class="title"><a href="javascript:void(0)">{$catename.catename}</a></div>
         <div class="mulist">
           <ul>
            <li style="text-align:center;"><a href="###" target="_blank"><img src="###" width="200" height="150" alt="" /></a><br /><a href="###" target="_blank"><span class=" b">{$catename.catename}</span></a></li>
          </ul>
         </div>
      </div>
     </div>
    
    <div class="minh"></div>
    
    <div class="right">
      <div class="catname">负责课程</div>
      <div id="content">
          <div class="mar_10">
            <ul class="text_list text_list_f14">
            {volist name="course" id="vo"}
            <li><span class="date">{$vo['time']|date="Y-m-d",###}</span>
              <a href="{:url('show/index',array('artid'=>$vo['id']))}" target="_blank" class="url">{$vo.title}</a>
            </li>
            {/volist}
            </ul>
            <div class="clf"></div>
          </div>
      </div>
    </div>
    <div class="clf"></div>
</div>

{include file="common/foot"/}
</body>
</html>