<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$catename.catename}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/style.css">
<script language="JavaScript" src="__PUBLIC__/images/config.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/jquery-1.7.2.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/css.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/common.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/login.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/jquery-validate.js"></script>
</head>
<body>

{include file="common/header"/}

<div class="mid">
        <div class="left">
          <div class="lmune">
            <div class="title"><a href="javascript:void(0)">{$catename.catename}</a></div>
               <div class="mulist">
            	<ul>
                    <li><a href="###">技术服务</a></li>
                </ul>
              </div>
          </div>
        </div>
        
        <div class="minh"></div>
        
        <div class="right">
            <div id="content">
                <div style="padding:10px;">
                <div id="mblock_add" class="block_add" pageid="catid_37" blockno="1" style="display:none;">添加碎片</div>
                {volist name="service" id="vo"}
                <div class="clist">
                
                <a name="c12" class="tt" style="font-size:20px;">{$vo.title}</a>
                    <div id="block_12" class="cont"><table border="0" cellspacing="0" cellpadding="0" width="580">
                        <tbody>
                           {$vo.desc}
                        </tbody>
                    </table></div>
                <div id="float_div_12" class="block_float_div jqModal" style="display:none;" blockid="12" >{$vo.content}</div>
                <div class="headpic"><img src="__IMG__{$vo.pic}" width="250"  height="150"  alt="{$vo.title}" /></div>
                
                </div>
                {/volist}
               <!--  <div class="clist">
                <a name="c41" class="tt">try</a>
                    <div id="block_41" class="cont"></div>
                    <div id="float_div_41" class="block_float_div jqModal" style="display:none" blockid="41" ></div>
                </div> -->
                </div>
          </div>

        </div>
        <div class="clf"></div>
  </div>

{include file="common/foot"/}
</body>
</html>