<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$catename.catename}</title>
<link href="__PUBLIC__/style/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/base.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/style.css">
<script language="JavaScript" src="__PUBLIC__/images/config.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/jquery-1.7.2.min.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/css.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/common.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/login.js"></script>
<script language="JavaScript" src="__PUBLIC__/images/js/jquery-validate.js"></script>
</head>
<body>

{include file="common/header"/}

<div class="mid">
    <div class="left">
      <div class="lmune">
        <div class="title"><a href="javascript:void(0)">{$catename.catename}</a></div>
         <div class="mulist">
<ul>
<li><a href="###">骨干教师</a></li>
<li><a href="###">在读学生</a></li>
<li><a href="###">毕业学生</a></li>
           
</ul>
         </div>
      </div>
     </div>
    
    <div class="minh"></div>
    
    <div class="right">
      <div id="content">
      <ul class="text_list">
      {volist name="members" id="vo"}
        <li>
        <div class="headpic"><a href="{:url('show/show_member',array('memid'=>$vo['id']))}"><img src="__IMG__{$vo.pic}" width="100"  alt="{$vo.name}" /></a></div>
        <div class="pintro">
        <a href="{:url('show/show_member',array('memid'=>$vo['id']))}" class="name">{$vo.name}</a>
        <br/><p>{$vo.position}</p>
        </div>
        <div class="clf"></div>
        </li>
        <div class="clf"></div>
        {/volist}
      </ul> 
<div style="text-align:right; margin-top:10px">
        {$members->render()} 
    </div>
  </div>
<div class="clf"></div>

    </div>
    <div class="clf"></div>
  </div>

{include file="common/foot"/}
</body>
</html>