<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$article.title}</title>
    <meta content="课题组,美国" name="keywords" />
    <meta content="" name="description" />
    <link href="favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/style.css">
    <link rel="alternate" type="application/rss+xml" title="######" href="" />
    <script language="JavaScript" src="__PUBLIC__/images/config.js"></script>
    <script language="JavaScript" src="__PUBLIC__/images/js/jquery-1.7.2.min.js"></script>
    <script language="JavaScript" src="__PUBLIC__/images/js/css.js"></script>
    <script language="JavaScript" src="__PUBLIC__/images/js/common.js"></script>
    <script language="JavaScript" src="__PUBLIC__/images/js/login.js"></script>
    <script language="JavaScript" src="__PUBLIC__/images/js/jquery-validate.js"></script>
  </head>
  <body>
    {include file="common/header"/}

    <div class="mid">
      <div class="left">
        <div class="lmune">
        <div class="title"><a href="javascript:void(0)">最新文章</a></div>
          <div class="mulist">
          <ul class="text_list">{volist name="newarticle" id="vo"}
                  	<ul>           
                    <li><a href="{:url('show/index',array('artid'=>$vo['id']))}" target="_blank" title="{$vo.title}">{$vo.title}</a></li>
                    </ul>
                    {/volist}
          </div>
        </div>
      </div>
      <div class="minh"></div>
      <div class="right">
        <div id="content">
          <div style="padding:10px;">
            <div id="content_head">
                    <!--文章标题-->
                    <h1 style="font-size: 20pt">{$article.title}</h1>
                    <!--基本属性-->
                    <h2>发表时间：<span>{$article['time']|date="Y-m-d",###}</span> 浏览次数：<span id="hits">{$article.click}</span> 关键词：<span>{$article.keyword}</span></h2>
           </div>
                  

            <div id="endtext">
             <div  style="text-align: left; text-indent: 28pt" align="left"><span style="font-size: 14pt">{$article.content}</span></div>
            </div>
            相关图片:
            <div id="endtext">
            	   <img src="__IMG__{$article.pic}" width="500" height="350" alt="{$article.title}" />
            </div>
          </div>
        </div>
      </div>
      <div class="clf"></div>
    </div>
    <script language="JavaScript" src="count.php?contentid=250"></script>

    {include file="common/foot"/}
  </body>
</html>